{% extends "base.html" %}

{% block content %}
<h1 class="title">
  {{ section.title }}
</h1>
<p>
  This is a listing of How To articles. They will change over time, and I'll update them as my knownledge changes. So
  be careful in relying on them for historical reasons. If you need to see something historical you can go back in time
  via this site's <a href="https://github.com/developerSid/garymyers-dev">Git Repo</a>
</p>
<ul>
  <!-- If you are using pagination, section.pages will be empty. You need to use the paginator object -->
  {% for page in section.pages %}
  <li><a href="{{ page.permalink | safe }}">{{ page.title }}</a></li>
  {% endfor %}
</ul>
{% endblock content %}
